*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color:rgb(45, 57, 71);
}
.ul{
    display:flex;
    flex-direction: row;
    align-items:center;
    height: 50px;
    width: 100%;
}
.ul li{
    color:white;
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    padding:0;
}
.span{
    padding-right: 22px;
    border:2px solid white;
    border-left: none;
    border-bottom:none;
    border-top:none;
}
.serch{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width: 100%;
    margin-left: 180%;
}
.serch input{
    width: 200px;
}
/* content start */
.content{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.h1-img{
    width: 580px;
}
.content .h-img{
    margin: 30px;
    margin-right: 60px;
    /* margin-left:195px; */
}
.ban{
    width: 580px;
    /* margin-left:104px; */
}
.ban-img{
    width:127%;
}
.p-div{
    width:560px;
}
.c-p1{
    padding: 25px;
    padding-left: 0;
}
.p-div .c-p{
    color:gray;
}
/* content ends */
/* fet start */
.fet{
    background-color:#f6f5f3;
}
.fet-img{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap: 10rem;
}
.fet-img .h2-img{
    width:36rem;
    height: 66px;
    margin-top: 66px;
}
.fet .ico-div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.ico-div{
    margin-top: 20px;
}
.ico-div .ico1-div,.ico2-div,.ico3-div{
    width:23rem;
}
 .ico-p{
    text-align:center;
    width:20rem;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}
.ico-img{
   margin-left: 8rem;
}
.cof-img{
    padding: 69px;
    width:100%;
    background-color:#f6f5f3;
}
.img-cof{
    float:right;
}
/* fet ends */
/* foot start */
.foot{
    display: flex;
    flex-direction: row;
}
a{
    color: white;
    text-decoration: none;
}
/* foot ends */